.group-body {
    margin: 50px;
}

.QContainer {
    border-style: solid;
    border-width: 2px;
}

.AContainer {
    border-style: solid;
    border-width: 2px;
}

#reply-textarea {
    margin: 5px;
    padding: 5px;
    height: 100px;
    width: 950px;
    resize: none;
}

.li-secondary {
    text-align: right;
}